[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = {version = "1.6.0", sys_platform = "!= 'win32'"}
# win_pytorch = {file = "https://download.pytorch.org/whl/cu102/torch-1.6.0-cp38-cp38-win_amd64.whl", sys_platform = "== 'win32'"}
jupyterlab = "*"
matplotlib = "*"
sympy = "*"
tqdm = "*"
scipy = "*"
numpy = "*"
h5py = "*"
jupyter-git = "*"
jupyterlab-git = "*"

[requires]
python_version = "3.8"
